<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>


              
       
			<rule name="已导入的规则 4" stopProcessing="true">
				<match url="^public/(.*).html$" ignoreCase="false" />
				<action type="Rewrite" url="public/{R:1}.html" appendQueryString="true" />
			</rule>
			<rule name="已导入的规则 5" stopProcessing="true">
				<match url="^public/(.*).php$" ignoreCase="false" />
				<action type="Rewrite" url="public/{R:1}.php" appendQueryString="true" />
			</rule>
			
			<rule name="已导入的规1则 2" stopProcessing="true">
				<match url="^payment/(.*)/$" ignoreCase="false" />
				<action type="Rewrite" url="index.php/index/wxpay/index/{R:1}" appendQueryString="true" />
			</rule>
		
			<rule name="已导入的规则 2" stopProcessing="true">
				<match url="^(.*)/$" ignoreCase="false" />
				<action type="Rewrite" url="index.php/index/App/index/url/{R:1}" appendQueryString="true" />
			</rule>
			<rule name="已导入的规则 3" stopProcessing="true">
				<match url="^(.*).html$" ignoreCase="false" />
				<action type="Rewrite" url="index.php/index/App/index/url/{R:1}" appendQueryString="true" />
			</rule>				
			
				
				
				
				
				
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
