<include file='index/head' />
<div class="container in-wrap">
<div class="crumbs">
<a href="/">首页</a> <!--{$pathmenu}-->
</div>
<div class="t-c erji2">
<ul class="i-b">
<foreach name=":caidan($blm,100)" item="cd">
<li <if condition="$TypeID eq $cd['id']">class="on"</if>><a href="<!--{$cd['id']|lmurl}-->"><!--{$cd['TypeName']}--></a></li>
</foreach>
</ul>
</div>
    <ul class="wz-list clearfix">
<foreach name="list_array" item="menu">
<li class="clearfix">
<div class="news-img"><img src="<!--{$menu['S_Image']}-->" alt="<!--{$menu['Title']}-->"></div>
<div class="wz-r">
<a href="<!--{:idlname($menu['id'])}-->"><!--{$menu['Title']|jiezi=0,30,"utf-8",false}--></a>
<div class="clearfix">
<span><!--{$menu['endtime']|date="Y-m-d",###}--></span>
<div class="view"><!--{$menu['read_num']}--></div>
</div>
<p><!--{$menu['Content']|gethtml|jiezi=0,50,"utf-8",true}-->
</p>
</div>
</li>
</foreach>



    </ul>
    <div class="page-wrap t-c">
        <div class="i-b">
         <!--{$fenye}-->
        </div>
    </div>
</div>
<div class="queque"></div>
<include file="index:foot" />
