<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>摄影</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" href="/s/m/css/mui.min.css">
        <link rel="stylesheet" type="text/css" href="/s/m/css/index.css" />
    </head>

    <body>
        
        <div class="all">
            
        <div class="mui-content mui-row mui-fullscreen">
            <div class="mui-col-xs-3">
                <div id="segmentedControls" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-vertical">
                
    <a class="left-item cation_list_l" href="sheying.asp" style="background:#e5e5e5;" >摄影</a>
    
    <a class="left-item"  href="sheying.asp?type=117" >服装</a>
    
    <a class="left-item"  href="sheying.asp?type=121" >美妆</a>
    
    <a class="left-item"  href="sheying.asp?type=155" >形象</a>
    
    <a class="left-item"  href="sheying.asp?type=122" >皮具</a>
    
    <a class="left-item"  href="sheying.asp?type=123" >产品</a>
    
    <a class="left-item"  href="sheying.asp?type=124" >食品</a>
    
    <a class="left-item"  href="sheying.asp?type=149" >花絮</a>
    
    <a class="left-item cation_list_l" href="type.asp?type=35">影视</a>
	
    <a class="left-item cation_list_l" href="type.asp?type=30">设计</a>
	
    <a class="left-item cation_list_l" href="type.asp?type=40">修图</a>
	
    <a class="left-item cation_list_l" href="type.asp?type=43">模特</a>
	
        </div>
    </div>
   
    
    <div id="segmentedControlContents" class="mui-col-xs-9" style="border-left: 1px solid #c8c7cc; float:right;">
    
    <div id="content1" class="mui-control-content">
        <ul class="mui-table-view cation_list_r">
			
                <li class='cation_list_r_in'>
                    <a href="list1-118.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/20178141722093630.jpg" alt=""  class="cation_list_r_pic"/></a>
                    <span style="position: absolute; top:20px;left:20px; font-size:30px; display:none;">服装</span>
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">27784</li>
                        <li class="cation_icon_in col">250</li>
                        <li class="cation_icon_in col">44</li>
                    </ul>
                </li>
            
                <li class='cation_list_r_in'>
                    <a href="list1-119.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201771511451667584.jpg" alt=""  class="cation_list_r_pic"/></a>
                    
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">23754</li>
                        <li class="cation_icon_in col">335</li>
                        <li class="cation_icon_in col">44</li>
                    </ul>
                </li>
            
                <li class='cation_list_r_in'>
                    <a href="list1-120.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201771511454963986.jpg" alt=""  class="cation_list_r_pic"/></a>
                    
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">14983</li>
                        <li class="cation_icon_in col">519</li>
                        <li class="cation_icon_in col">12</li>
                    </ul>
                </li>
            
        </ul>
    </div>
    
    <div id="content2" class="mui-control-content">
        <ul class="mui-table-view cation_list_r">
			
                <li class='cation_list_r_in'>
                    <a href="list1-127.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201771511462999922.jpg" alt=""  class="cation_list_r_pic"/></a>
                    <span style="position: absolute; top:20px;left:20px; font-size:30px; display:none;">美妆</span>
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">31589</li>
                        <li class="cation_icon_in col">22</li>
                        <li class="cation_icon_in col">125</li>
                    </ul>
                </li>
            
                <li class='cation_list_r_in'>
                    <a href="list1-128.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201771511481581949.jpg" alt=""  class="cation_list_r_pic"/></a>
                    
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">11057</li>
                        <li class="cation_icon_in col">15</li>
                        <li class="cation_icon_in col">23</li>
                    </ul>
                </li>
            
                <li class='cation_list_r_in'>
                    <a href="list1-129.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201771511484749799.jpg" alt=""  class="cation_list_r_pic"/></a>
                    
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">12391</li>
                        <li class="cation_icon_in col">2</li>
                        <li class="cation_icon_in col">48</li>
                    </ul>
                </li>
            
                <li class='cation_list_r_in'>
                    <a href="list1-130.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201771511493499468.jpg" alt=""  class="cation_list_r_pic"/></a>
                    
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">10684</li>
                        <li class="cation_icon_in col">5</li>
                        <li class="cation_icon_in col">24</li>
                    </ul>
                </li>
            
                <li class='cation_list_r_in'>
                    <a href="list1-131.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/20177151152225464.jpg" alt=""  class="cation_list_r_pic"/></a>
                    
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">12616</li>
                        <li class="cation_icon_in col">15</li>
                        <li class="cation_icon_in col">46</li>
                    </ul>
                </li>
            
                <li class='cation_list_r_in'>
                    <a href="list1-132.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201771511523071936.jpg" alt=""  class="cation_list_r_pic"/></a>
                    
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">29979</li>
                        <li class="cation_icon_in col">12</li>
                        <li class="cation_icon_in col">70</li>
                    </ul>
                </li>
            
        </ul>
    </div>
    
    <div id="content3" class="mui-control-content">
        <ul class="mui-table-view cation_list_r">
			
                <li class='cation_list_r_in'>
                    <a href="list1-156.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201782115592354190.jpg" alt=""  class="cation_list_r_pic"/></a>
                    <span style="position: absolute; top:20px;left:20px; font-size:30px; display:none;">形象</span>
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">16923</li>
                        <li class="cation_icon_in col">109</li>
                        <li class="cation_icon_in col">30</li>
                    </ul>
                </li>
            
                <li class='cation_list_r_in'>
                    <a href="list1-160.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/20178211603760481.jpg" alt=""  class="cation_list_r_pic"/></a>
                    
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">7861</li>
                        <li class="cation_icon_in col">8</li>
                        <li class="cation_icon_in col">22</li>
                    </ul>
                </li>
            
                <li class='cation_list_r_in'>
                    <a href="list1-158.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/2017821161876285.jpg" alt=""  class="cation_list_r_pic"/></a>
                    
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">1167</li>
                        <li class="cation_icon_in col">2</li>
                        <li class="cation_icon_in col">8</li>
                    </ul>
                </li>
            
        </ul>
    </div>
    
    <div id="content4" class="mui-control-content">
        <ul class="mui-table-view cation_list_r">
			
                <li class='cation_list_r_in'>
                    <a href="list1-133.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201771515322274188.jpg" alt=""  class="cation_list_r_pic"/></a>
                    <span style="position: absolute; top:20px;left:20px; font-size:30px; display:none;">皮具</span>
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">11389</li>
                        <li class="cation_icon_in col">4</li>
                        <li class="cation_icon_in col">25</li>
                    </ul>
                </li>
            
                <li class='cation_list_r_in'>
                    <a href="list1-134.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201771515324446766.jpg" alt=""  class="cation_list_r_pic"/></a>
                    
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">13342</li>
                        <li class="cation_icon_in col">17</li>
                        <li class="cation_icon_in col">27</li>
                    </ul>
                </li>
            
                <li class='cation_list_r_in'>
                    <a href="list1-135.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201771515353515083.jpg" alt=""  class="cation_list_r_pic"/></a>
                    
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">17131</li>
                        <li class="cation_icon_in col">1</li>
                        <li class="cation_icon_in col">33</li>
                    </ul>
                </li>
            
                <li class='cation_list_r_in'>
                    <a href="list1-136.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201771515423829526.jpg" alt=""  class="cation_list_r_pic"/></a>
                    
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">11282</li>
                        <li class="cation_icon_in col">4</li>
                        <li class="cation_icon_in col">24</li>
                    </ul>
                </li>
            
                <li class='cation_list_r_in'>
                    <a href="list1-137.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201771515425841118.jpg" alt=""  class="cation_list_r_pic"/></a>
                    
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">12598</li>
                        <li class="cation_icon_in col">0</li>
                        <li class="cation_icon_in col">24</li>
                    </ul>
                </li>
            
                <li class='cation_list_r_in'>
                    <a href="list1-138.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201771515432378554.jpg" alt=""  class="cation_list_r_pic"/></a>
                    
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">6401</li>
                        <li class="cation_icon_in col">2</li>
                        <li class="cation_icon_in col">14</li>
                    </ul>
                </li>
            
                <li class='cation_list_r_in'>
                    <a href="list1-139.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201771515442250566.jpg" alt=""  class="cation_list_r_pic"/></a>
                    
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">7167</li>
                        <li class="cation_icon_in col">0</li>
                        <li class="cation_icon_in col">13</li>
                    </ul>
                </li>
            
                <li class='cation_list_r_in'>
                    <a href="list1-153.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201772414293685098.jpg" alt=""  class="cation_list_r_pic"/></a>
                    
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">4521</li>
                        <li class="cation_icon_in col">20</li>
                        <li class="cation_icon_in col">9</li>
                    </ul>
                </li>
            
                <li class='cation_list_r_in'>
                    <a href="list1-154.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201511715531652391.jpg" alt=""  class="cation_list_r_pic"/></a>
                    
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">17445</li>
                        <li class="cation_icon_in col">18</li>
                        <li class="cation_icon_in col">35</li>
                    </ul>
                </li>
            
        </ul>
    </div>
    
    <div id="content5" class="mui-control-content">
        <ul class="mui-table-view cation_list_r">
			
                <li class='cation_list_r_in'>
                    <a href="list1-140.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/20177271285345239.jpg" alt=""  class="cation_list_r_pic"/></a>
                    <span style="position: absolute; top:20px;left:20px; font-size:30px; display:none;">产品</span>
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">20800</li>
                        <li class="cation_icon_in col">11</li>
                        <li class="cation_icon_in col">49</li>
                    </ul>
                </li>
            
                <li class='cation_list_r_in'>
                    <a href="list1-142.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/20177151693040813.jpg" alt=""  class="cation_list_r_pic"/></a>
                    
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">13063</li>
                        <li class="cation_icon_in col">2</li>
                        <li class="cation_icon_in col">29</li>
                    </ul>
                </li>
            
                <li class='cation_list_r_in'>
                    <a href="list1-151.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201772414295537472.jpg" alt=""  class="cation_list_r_pic"/></a>
                    
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">9686</li>
                        <li class="cation_icon_in col">12</li>
                        <li class="cation_icon_in col">22</li>
                    </ul>
                </li>
            
                <li class='cation_list_r_in'>
                    <a href="list1-152.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201772414315353681.jpg" alt=""  class="cation_list_r_pic"/></a>
                    
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">13684</li>
                        <li class="cation_icon_in col">0</li>
                        <li class="cation_icon_in col">34</li>
                    </ul>
                </li>
            
        </ul>
    </div>
    
    <div id="content6" class="mui-control-content">
        <ul class="mui-table-view cation_list_r">
			
                <li class='cation_list_r_in'>
                    <a href="list1-143.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/20184281816876401.jpg" alt=""  class="cation_list_r_pic"/></a>
                    <span style="position: absolute; top:20px;left:20px; font-size:30px; display:none;">食品</span>
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">10672</li>
                        <li class="cation_icon_in col">7</li>
                        <li class="cation_icon_in col">22</li>
                    </ul>
                </li>
            
                <li class='cation_list_r_in'>
                    <a href="list1-144.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/20184281817315388.jpg" alt=""  class="cation_list_r_pic"/></a>
                    
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">14472</li>
                        <li class="cation_icon_in col">23</li>
                        <li class="cation_icon_in col">31</li>
                    </ul>
                </li>
            
        </ul>
    </div>
    
    <div id="content7" class="mui-control-content">
        <ul class="mui-table-view cation_list_r">
			
                <li class='cation_list_r_in'>
                    <a href="list1-150.html"><img  src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/2017727162125276.jpg" alt=""  class="cation_list_r_pic"/></a>
                    <span style="position: absolute; top:20px;left:20px; font-size:30px; display:none;">花絮</span>
                    <ul class="row list_icon">
                        <li class="cation_icon_in col">483990</li>
                        <li class="cation_icon_in col">6646</li>
                        <li class="cation_icon_in col">1107</li>
                    </ul>
                </li>
            
        </ul>
    </div>
    <div style="height:48px;"></div>
            </div>
            
        </div>
 <input name="iii" id="iii" type="hidden" value="8">
            	<span class="cation_ys_bg"></span>
				
        </div>
            <div style="text-align: center; color:#ddd; height:80px;background:#fff;">广州金田摄影有限公司 @ 版权所有 <br/><a style="color:#fff;" href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备10089492号</a></div>
<!--固定部分-->
		<span class="all_bg"></span>
		<div class="ms_celan">
			<ul class="mui-table-view ms_celan_in">
				<img src="/s/m/img/logo2.png" class="ms_index_logo" />
				<li class="mui-table-view-cell index_list index_list_on">
					<a href="index.asp" class="mui-navigate-right">首页<span>HOME</span></a>
				</li>
				<li class="mui-table-view-cell index_list">
					<a class="mui-navigate-right" href="sheying.asp">摄影<span>PHOTOGRAPHT</span></a>
				</li>
				<li class="mui-table-view-cell index_list">
					<a class="mui-navigate-right" href="type.asp?type=35">影视<span>TELEVISION</span></a>
				</li>
				<li class="mui-table-view-cell index_list">
					<a class="mui-navigate-right" href="type.asp?type=30">设计<span>DESIGN</span></a>
				</li>
				<li class="mui-table-view-cell index_list">
					<a class="mui-navigate-right" href="type.asp?type=40">修图<span>RETOUCHING</span></a>
				</li>
				<li class="mui-table-view-cell index_list">
					<a class="mui-navigate-right" href="type.asp?type=35">模特<span>MODEL</span></a>
				</li>
				<li class="mui-table-view-cell index_list">
					<a href="about.asp" class="mui-navigate-right">关于<span>ABOUT</span></a>
				</li>
				<li class="mui-table-view-cell index_list">
					<a href="activity.asp" class="mui-navigate-right">活动<span>ACTIVITY</span></a>
				</li>
			</ul>
		</div>


		<footer class="mui-bar mui-bar-footer row ms_fnav">
			<a class="ms_index_blist col tubiao"><img src="/s/m/img/mu_1.png" /></a>
			<a href="tel:4006168068" class="col tubiao"><img src="/s/m/img/mu_2.png" /></a>
			<a href="index.asp" class="col ms_flogo"><img src="/s/m/img/logo.png" alt="" /></a>
			<a class="ms_index_bqq col tubiao"><img src="/s/m/img/mu_4.png" /></a>
			<a class="ms_index_bweixin col tubiao"><img src="/s/m/img/mu_5.png" /></a>
		</footer>
		<div class="all">
			<span class="ms_index_bg"></span>
            <span class="ms_index_bg2"></span>
			<div class="ms_index_qq">
				<h6>请选择在线QQ</h6>
				<p>广州市白云区 M3创意园</p>
				<ul class="ms_index_listqq row" >
					<li class="col" style="border-bottom:0;margin-bottom: 0px;"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5OTFfNDAwNjE2ODA2OF8"></script></li>
					<li class="col" style="border-bottom:0;margin-bottom: 0px;"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5ODBfNDAwNjE2ODA2OF8"></script></li>
					<li class="col" style="border-bottom:0;margin-bottom: 0px;"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5ODJfNDAwNjE2ODA2OF8"></script></li>
				</ul>
                <ul class="ms_index_listqq row">
					<li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5ODVfNDAwNjE2ODA2OF8"></script></li>
					<li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5ODNfNDAwNjE2ODA2OF8"></script></li>
					<li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5ODNfNDAwNjE2ODA2OF8"></script></li>
				</ul>
				<p>深圳市南山区 创客小镇</p>
				<ul class="ms_index_listqq row">
					<li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5NjlfNDAwNjE2ODA2OF8"></script></li>
					<li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5OTJfNDAwNjE2ODA2OF8"></script></li>
                    <li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5NjlfNDAwNjE2ODA2OF8"></script></li>
				</ul>
                <p>佛山市南海区 广佛智城店</p>
				<ul class="ms_index_listqq row">
					<li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5NzhfNDAwNjE2ODA2OF8"></script></li>
					<li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5NzlfNDAwNjE2ODA2OF8"></script></li>
                    <li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5NzhfNDAwNjE2ODA2OF8"></script></li>
				</ul>
			</div>
			<div class="ms_index_wx">
				<p>关注金田官方微信</p>
				<img src="/s/m/img/index_erweima.jpg" alt="" class="index_erwei"/><br />
				<img src="/s/m/img/index_shouzhi.png" class="index_shouzhi"/><br />
				<span>长按识别二维码</span>
			</div>
			<!--固定部分结束-->

</body>
        <script src="/s/m/js/jquery.js"></script>
	    <script src="/s/m/js/mui.min.js"></script>
	    <script src="/s/m/js/index.js"></script>
	    <script type="text/javascript" charset="utf-8">
		mui.init();
	    </script>
        
        <script type="text/javascript" src="/s/m/js/imglazyload.min.js"></script>
		<script type="text/javascript">
        $(function(){
            $( 'img' ).imglazyload();
        });
        </script>
</html>