

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>活动</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" href="/s/m/css/mui.min.css">
        <link rel="stylesheet" type="text/css" href="/s/m/css/index.css" />
    </head>

    <body>
        
        <div class="all">
        <a href="javascript:history.go(-1);" class="web-head-go"></a>
  
            <div class="list_banner page_banner">
				<a href="act-details-78.html"><img src="/s/m/img/page1.jpg" alt="" class="list_banner"/></a>
				<p>金田新年拍摄有活动<br /><span>在2017年充值上2万的送6000，服务更贴心，还等什么，赶快来参与吧...</span></p>
				<ul class="row page_list">
					<li class="col">2017-6-30</li>
					<li class="col"><a href="act-details-78.html">阅读全文 &gt;</a></li>
				</ul>
			</div>


        </div>
        
<div style="text-align: center; color:#ddd; height:80px;background:#fff;">广州金田摄影有限公司 @ 版权所有 <br/><a style="color:#fff;" href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备10089492号</a></div>
<!--固定部分-->
		<span class="all_bg"></span>
		<div class="ms_celan">
			<ul class="mui-table-view ms_celan_in">
				<img src="/s/m/img/logo2.png" class="ms_index_logo" />
				<li class="mui-table-view-cell index_list index_list_on">
					<a href="index.asp" class="mui-navigate-right">首页<span>HOME</span></a>
				</li>
				<li class="mui-table-view-cell index_list">
					<a class="mui-navigate-right" href="sheying.asp">摄影<span>PHOTOGRAPHT</span></a>
				</li>
				<li class="mui-table-view-cell index_list">
					<a class="mui-navigate-right" href="type.asp?type=35">影视<span>TELEVISION</span></a>
				</li>
				<li class="mui-table-view-cell index_list">
					<a class="mui-navigate-right" href="type.asp?type=30">设计<span>DESIGN</span></a>
				</li>
				<li class="mui-table-view-cell index_list">
					<a class="mui-navigate-right" href="type.asp?type=40">修图<span>RETOUCHING</span></a>
				</li>
				<li class="mui-table-view-cell index_list">
					<a class="mui-navigate-right" href="type.asp?type=35">模特<span>MODEL</span></a>
				</li>
				<li class="mui-table-view-cell index_list">
					<a href="about.asp" class="mui-navigate-right">关于<span>ABOUT</span></a>
				</li>
				<li class="mui-table-view-cell index_list">
					<a href="activity.asp" class="mui-navigate-right">活动<span>ACTIVITY</span></a>
				</li>
			</ul>
		</div>


		<footer class="mui-bar mui-bar-footer row ms_fnav">
			<a class="ms_index_blist col tubiao"><img src="/s/m/img/mu_1.png" /></a>
			<a href="tel:4006168068" class="col tubiao"><img src="/s/m/img/mu_2.png" /></a>
			<a href="index.asp" class="col ms_flogo"><img src="/s/m/img/logo.png" alt="" /></a>
			<a class="ms_index_bqq col tubiao"><img src="/s/m/img/mu_4.png" /></a>
			<a class="ms_index_bweixin col tubiao"><img src="/s/m/img/mu_5.png" /></a>
		</footer>
		<div class="all">
			<span class="ms_index_bg"></span>
            <span class="ms_index_bg2"></span>
			<div class="ms_index_qq">
				<h6>请选择在线QQ</h6>
				<p>广州市白云区 M3创意园</p>
				<ul class="ms_index_listqq row" >
					<li class="col" style="border-bottom:0;margin-bottom: 0px;"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5OTFfNDAwNjE2ODA2OF8"></script></li>
					<li class="col" style="border-bottom:0;margin-bottom: 0px;"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5ODBfNDAwNjE2ODA2OF8"></script></li>
					<li class="col" style="border-bottom:0;margin-bottom: 0px;"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5ODJfNDAwNjE2ODA2OF8"></script></li>
				</ul>
                <ul class="ms_index_listqq row">
					<li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5ODVfNDAwNjE2ODA2OF8"></script></li>
					<li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5ODNfNDAwNjE2ODA2OF8"></script></li>
					<li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5ODNfNDAwNjE2ODA2OF8"></script></li>
				</ul>
				<p>深圳市南山区 创客小镇</p>
				<ul class="ms_index_listqq row">
					<li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5NjlfNDAwNjE2ODA2OF8"></script></li>
					<li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5OTJfNDAwNjE2ODA2OF8"></script></li>
                    <li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5NjlfNDAwNjE2ODA2OF8"></script></li>
				</ul>
                <p>佛山市南海区 广佛智城店</p>
				<ul class="ms_index_listqq row">
					<li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5NzhfNDAwNjE2ODA2OF8"></script></li>
					<li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5NzlfNDAwNjE2ODA2OF8"></script></li>
                    <li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5NzhfNDAwNjE2ODA2OF8"></script></li>
				</ul>
			</div>
			<div class="ms_index_wx">
				<p>关注金田官方微信</p>
				<img src="/s/m/img/index_erweima.jpg" alt="" class="index_erwei"/><br />
				<img src="/s/m/img/index_shouzhi.png" class="index_shouzhi"/><br />
				<span>长按识别二维码</span>
			</div>
			<!--固定部分结束-->

</body>
        <script src="/s/m/js/jquery.js"></script>
	    <script src="/s/m/js/mui.min.js"></script>
	    <script src="/s/m/js/index.js"></script>
	    <script type="text/javascript" charset="utf-8">
		mui.init();
	    </script>
</html>