<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>金田摄影</title>
		<link href="/s/m/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="/s/m/css/index.css" />
	</head>

<body>
		
			<div>
				<div>
					<!--正文内容-->
					<div class="mui-slider">
						<div class="mui-slider-group mui-slider-loop">
							
<!--支持循环，与最后一张一样-->
<div class="mui-slider-item mui-slider-item-duplicate">
    <img src="/s/m/m/uppic/swit/20178151817524674.jpg" />
</div>
<!--显示的图片-->
    
    <div class="mui-slider-item">
         <img src="/s/m/m/uppic/swit/20178151855463157.jpg" />
    </div>
    
    <div class="mui-slider-item">
         <img src="/s/m/m/uppic/swit/2017815189689797.jpg" />
    </div>
    
    <div class="mui-slider-item">
         <img src="/s/m/m/uppic/swit/20178151817524674.jpg" />
    </div>
    
<!--支持循环，与第一张一样-->
                <div class="mui-slider-item mui-slider-item-duplicate">
                     <img src="/s/m/m/uppic/swit/20178151855463157.jpg" />
                </div>

						</div>
						<!--小圆点-->
						<div class="mui-slider-indicator">
							<div class="mui-indicator mui-active mall-carousel"></div><div class="mui-indicator mall-carousel"></div><div class="mui-indicator mall-carousel"></div>
						</div>
					</div>
					<div class="ms_nav">
						<ul class="row">
							<li class="col">
								<a href="sheying.asp"><img src="/s/m/img/index_cam.png" /></a>
								<p>摄影</p>
							</li>
							<li class="col">
								<a href="type.asp?type=35"><img src="/s/m/img/index_rio.png" /></a>
								<p>影视</p>
							</li>
							<li class="col">
								<a href="type.asp?type=30"><img src="/s/m/img/index_dis.png" /></a>
								<p>设计</p>
							</li>
							<li class="col">
								<a href="type.asp?type=40"><img src="/s/m/img/index_ret.png" /></a>
								<p>修图</p>
							</li>
						</ul>
						<ul class="row">
							<li class="col">
								<a href="type.asp?type=43"><img src="/s/m/img/index_mod.png" /></a>
								<p>模特</p>
							</li>
							<li class="col">
								<a href="about.asp?id=kehu"><img src="/s/m/img/index_cur.png" /></a>
								<p>客户</p>
							</li>
							<li class="col">
                            
                                <a href="https://mp.weixin.qq.com/s?__biz=MjM5ODA2Mjg4MA==&mid=2651056909&idx=1&sn=f2cba278101d7a8dd7f25aa681d66573&scene=0#wechat_redirect"><img src="/s/m/img/index_mem.png" /></a>
								<p>会员</p>
                                
							</li>
							<li class="col">
								<a href="about.asp"><img src="/s/m/img/index_about.png" /></a>
								<p>关于</p>
							</li>
						</ul>
					</div>
                    
                    
					<div class="ms_photography">
						<h4>摄影</h4>
						<span>PHOTOGRAPHY</span>
						<p>精心定制摄影服务 打造视觉大片</p>
						
                           <a href="/m/sheying.asp"><img src="/s/m/m/uppic/type/201781711301865870.jpg" alt="精心定制摄影服务 打造视觉大片" class="ms_index_banner" /></a>
                        
						<ul class="ms_index_list">

<li><a href="/m/sheying.asp?type=117"><img src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/20178314283185099.jpg" /><br />服装摄影</a></li>

<li><a href="/m/sheying.asp?type=155"><img src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201782114365764618.jpg" /><br />形象摄影</a></li>

<li><a href="/m/sheying.asp?type=122"><img src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201781511232375305.jpg" /><br />皮具摄影</a></li>

<li><a href="/m/sheying.asp?type=121"><img src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201781511193533640.jpg" /><br />美妆摄影</a></li>

<li><a href="/m/sheying.asp?type=123"><img src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/20178151115845331.jpg" /><br />产品摄影</a></li>

<li><a href="/m/sheying.asp?type=124"><img src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201781511173554845.jpg" /><br />食品摄影</a></li>
                          
						</ul>
					</div>
                     
					<div class="ms_photography">
						<h4>影视</h4>
						<span>TELEVISON</span>
						<p>精心定制摄影服务 我们的专业不仅仅只是影视制作的流程及设备，更多的是策略和战术！</p>
						
                           <a href="/m/type.asp?type=35"><img src="/s/m/m/uppic/type/201781711312138175.jpg" alt="精心定制摄影服务 我们的专业不仅仅只是影视制作的流程及设备，更多的是策略和战术！" class="ms_index_banner" /></a>
                        
						<ul class="ms_index_list">
                          
							<li><a href="/m/list2-38.html"><img src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/20178118163627774.jpg" /><br />广告片</a></li>
                          
							<li><a href="/m/list2-39.html"><img src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/20178118172277517.jpg" /><br />宣传片</a></li>
                          
							<li><a href="/m/list2-37.html"><img src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/20178118174513222.jpg" /><br />形象片</a></li>
                          
							<li><a href="/m/list2-36.html"><img src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/20178118182680882.jpg" /><br />产品片</a></li>
                          
						</ul>
					</div>
                     
					<div class="ms_photography">
						<h4>设计</h4>
						<span>DESIGN</span>
						<p>无设计，不品牌，金田设计开启您闭塞的视觉</p>
						
                           <a href="/m/type.asp?type=30"><img src="/s/m/m/uppic/type/20177251530243815.jpg" alt="无设计，不品牌，金田设计开启您闭塞的视觉" class="ms_index_banner" /></a>
                        
						<ul class="ms_index_list">
                          
							<li><a href="/m/list2-31.html"><img src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201772616114615550.jpg" /><br />整案设计</a></li>
                          
							<li><a href="/m/list2-32.html"><img src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201772515291017096.jpg" /><br />详情页设计</a></li>
                          
							<li><a href="/m/list2-33.html"><img src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201772515292459806.jpg" /><br />海报设计</a></li>
                          
							<li><a href="/m/list2-34.html"><img src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201772515293582839.jpg" /><br />画册设计</a></li>
                          
						</ul>
					</div>
                     
					<div class="ms_photography">
						<h4>修图</h4>
						<span>DESIGN</span>
						<p>手底真功夫</p>
						
                           <a href="/m/type.asp?type=40"><img src="/s/m/m/uppic/type/201781711473057960.jpg" alt="手底真功夫" class="ms_index_banner" /></a>
                        
						<ul class="ms_index_list">
                          
							<li><a href="/m/list2-48.html"><img src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201782114595989075.jpg" /><br />化妆品修图</a></li>
                          
							<li><a href="/m/list2-42.html"><img src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/20178211050617699.jpg" /><br />人像修图</a></li>
                          
							<li><a href="/m/list2-41.html"><img src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201781716192316778.jpg" /><br />产品修图</a></li>
                          
							<li><a href="/m/list2-49.html"><img src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201781716195033625.jpg" /><br />服装修图</a></li>
                          
						</ul>
					</div>
                     
					<div class="ms_photography">
						<h4>模特</h4>
						<span>MODEL</span>
						<p>专业模特 品质呈现</p>
						
                           <a href="/m/type.asp?type=43"><img src="/s/m/m/uppic/type/20178171133259846.jpg" alt="专业模特 品质呈现" class="ms_index_banner" /></a>
                        
						<ul class="ms_index_list">
                          
							<li><a href="/m/list2-45.html"><img src="/s/m/images/910x460.gif" src2="m/img/index_list31.jpg" /><br />国外女模</a></li>
                          
							<li><a href="/m/list2-44.html"><img src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201781814544268353.jpg" /><br />国外男模</a></li>
                          
							<li><a href="/m/list2-51.html"><img src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/20178181454552538.jpg" /><br />国内女模</a></li>
                          
							<li><a href="/m/list2-50.html"><img src="/s/m/images/910x460.gif" src2="/s/m/m/uppic/type/201781814551643244.jpg" /><br />国内男模</a></li>
                          
						</ul>
					</div>
                     
					
					<div class="ms_studio">
						<h4 style="background:none;">三大影棚</h4>
						<span>THREE STUDIO</span><br />
						<img src="/s/m/img/index_title01.jpg" class="ms_studio_num" />
						<p>广州白云区M3创意园店</p>
						<p class="ma_studio_p">广州市白云区黄边时代玫瑰园旁M3创意园B123～B125</p>
						<img src="/s/m/img/index_banner7.jpg" alt="" class="ms_index_banner" />
						<ul class="ms_index_list">
							<li> <img src="/s/m/img/index_list19.jpg" />
							</li>
							<li> <img src="/s/m/img/index_list20.jpg" />
							</li>
							<li> <img src="/s/m/img/index_list21.jpg" />
							</li>
							<li> <img src="/s/m/img/index_list22.jpg" />
							</li>
						</ul>

						<img src="/s/m/img/index_title02.jpg" class="ms_studio_num" />
						<p>深圳南山区创客小镇店</p>
						<p class="ma_studio_p">深圳市南山区留仙大道1201号大学城创客小镇17栋1楼101-103室</p>
						<img src="/s/m/img/index_banner9.jpg" alt="" class="ms_index_banner" />
						<ul class="ms_index_list">
							<li> <img src="/s/m/img/index_list27.jpg" />
							</li>
							<li> <img src="/s/m/img/index_list28.jpg" />
							</li>
							<li> <img src="/s/m/img/index_list29.jpg" />
							</li>
							<li> <img src="/s/m/img/index_list30.jpg" />
							</li>
						</ul>
                        
						<img src="/s/m/img/index_title03.jpg" class="ms_studio_num" />
						<p>佛山南海区广佛智城店</p>
						<p class="ma_studio_p">佛山南海区大沥广佛智城A6二楼6208-6215室</p>
						<img src="/s/m/img/index_banner8.jpg" alt="" class="ms_index_banner" />
						<ul class="ms_index_list" style="margin-bottom:0;">
							<li> <img src="/s/m/img/index_list23.jpg" />
							</li>
							<li> <img src="/s/m/img/index_list24.jpg" />
							</li>
							<li> <img src="/s/m/img/index_list25.jpg" />
							</li>
							<li> <img src="/s/m/img/index_list26.jpg" />
							</li>
						</ul>

					</div>
					<!--正文内容结束-->

				</div>
			</div>
		</div>

	<div style="text-align: center; color:#ddd; height:80px;background:#fff;">广州金田摄影有限公司 @ 版权所有 <br/><a style="color:#fff;" href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备10089492号</a></div>
<!--固定部分-->
		<span class="all_bg"></span>
		<div class="ms_celan">
			<ul class="mui-table-view ms_celan_in">
				<img src="/s/m/img/logo2.png" class="ms_index_logo" />
				<li class="mui-table-view-cell index_list index_list_on">
					<a href="index.asp" class="mui-navigate-right">首页<span>HOME</span></a>
				</li>
				<li class="mui-table-view-cell index_list">
					<a class="mui-navigate-right" href="sheying.asp">摄影<span>PHOTOGRAPHT</span></a>
				</li>
				<li class="mui-table-view-cell index_list">
					<a class="mui-navigate-right" href="type.asp?type=35">影视<span>TELEVISION</span></a>
				</li>
				<li class="mui-table-view-cell index_list">
					<a class="mui-navigate-right" href="type.asp?type=30">设计<span>DESIGN</span></a>
				</li>
				<li class="mui-table-view-cell index_list">
					<a class="mui-navigate-right" href="type.asp?type=40">修图<span>RETOUCHING</span></a>
				</li>
				<li class="mui-table-view-cell index_list">
					<a class="mui-navigate-right" href="type.asp?type=35">模特<span>MODEL</span></a>
				</li>
				<li class="mui-table-view-cell index_list">
					<a href="about.asp" class="mui-navigate-right">关于<span>ABOUT</span></a>
				</li>
				<li class="mui-table-view-cell index_list">
					<a href="activity.asp" class="mui-navigate-right">活动<span>ACTIVITY</span></a>
				</li>
			</ul>
		</div>


		<footer class="mui-bar mui-bar-footer row ms_fnav">
			<a class="ms_index_blist col tubiao"><img src="/s/m/img/mu_1.png" /></a>
			<a href="tel:4006168068" class="col tubiao"><img src="/s/m/img/mu_2.png" /></a>
			<a href="index.asp" class="col ms_flogo"><img src="/s/m/img/logo.png" alt="" /></a>
			<a class="ms_index_bqq col tubiao"><img src="/s/m/img/mu_4.png" /></a>
			<a class="ms_index_bweixin col tubiao"><img src="/s/m/img/mu_5.png" /></a>
		</footer>
		<div class="all">
			<span class="ms_index_bg"></span>
            <span class="ms_index_bg2"></span>
			<div class="ms_index_qq">
				<h6>请选择在线QQ</h6>
				<p>广州市白云区 M3创意园</p>
				<ul class="ms_index_listqq row" >
					<li class="col" style="border-bottom:0;margin-bottom: 0px;"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5OTFfNDAwNjE2ODA2OF8"></script></li>
					<li class="col" style="border-bottom:0;margin-bottom: 0px;"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5ODBfNDAwNjE2ODA2OF8"></script></li>
					<li class="col" style="border-bottom:0;margin-bottom: 0px;"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5ODJfNDAwNjE2ODA2OF8"></script></li>
				</ul>
                <ul class="ms_index_listqq row">
					<li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5ODVfNDAwNjE2ODA2OF8"></script></li>
					<li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5ODNfNDAwNjE2ODA2OF8"></script></li>
					<li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5ODNfNDAwNjE2ODA2OF8"></script></li>
				</ul>
				<p>深圳市南山区 创客小镇</p>
				<ul class="ms_index_listqq row">
					<li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5NjlfNDAwNjE2ODA2OF8"></script></li>
					<li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5OTJfNDAwNjE2ODA2OF8"></script></li>
                    <li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5NjlfNDAwNjE2ODA2OF8"></script></li>
				</ul>
                <p>佛山市南海区 广佛智城店</p>
				<ul class="ms_index_listqq row">
					<li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5NzhfNDAwNjE2ODA2OF8"></script></li>
					<li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5NzlfNDAwNjE2ODA2OF8"></script></li>
                    <li class="col"><script charset="utf-8" type="text/javascript" src="https://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA3MTU1Ml80ODk5NzhfNDAwNjE2ODA2OF8"></script></li>
				</ul>
			</div>
			<div class="ms_index_wx">
				<p>关注金田官方微信</p>
				<img src="/s/m/img/index_erweima.jpg" alt="" class="index_erwei"/><br />
				<img src="/s/m/img/index_shouzhi.png" class="index_shouzhi"/><br />
				<span>长按识别二维码</span>
			</div>
			<!--固定部分结束-->

</body>
	<script src="/s/m/js/jquery.js"></script>
	<script src="/s/m/js/mui.min.js"></script>
	<script src="/s/m/js/index.js"></script>
	<script type="text/javascript" charset="utf-8">
		mui.init();
	</script>
    <script type="text/javascript" src="/s/m/js/imglazyload.min.js"></script>
<script type="text/javascript">
$(function(){
	$( 'img' ).imglazyload();
});
</script>
</html>
