<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>信息管理</title>
<link href="/public/skin/scripts/artdialog/ui-dialog.css" rel="stylesheet" type="text/css" />
<link href="/public/skin/default/style.css" rel="stylesheet" type="text/css" />
<link href="/public/skin/css/pagination.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/public/skin/scripts/jquery/jquery-1.11.2.min.js"></script>
<include file="index/js" />
</head>
<body class="mainbody">
<form id="form1" name="form1" method="post" action=""  class="form-horizontal">
<input type="hidden" id="ActionIDList" name="ActionIDList" />
<input type="hidden" id="Action" name="Action" />
<input type="hidden" id="table" name="table" value="ad" />
<input type="hidden" id="backurl" name="backurl" value="__URL__" />

<div class="location">
  <a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a>
  <a class="home">
  当前路径:<!--{$tempshow|default='/'}-->
  </a>
  


</div>
<!--/导航栏-->
<!--工具栏-->
<div id="floatHead" class="toolbar-wrap">
<div class="toolbar" style="float:left; width:100%; ">



<div class="box-wrap" style="float:right; width:auto;">

<div class="l-list">

<ul class="icon-list">
  <li style="display:none;"><a class="add" onClick="return typeidisnull()" href="<!--{:url('Ad/add')}-->"><i></i><span>新增</span></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>





<!--/工具栏-->

<!--列表-->
<div class="table-container">
  
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable">
    <tr>
      <th width="11%">选择</th>
      <th align="left" width="37%" style="text-indent:1%;">模板</th>
      <th width="23%">类型</th>
      <th width="13%" align="right" style="padding-right:20px;">操作</th>
    </tr>
  
   
  

<foreach name="dirlist" item="wjj">
<if condition="$wjj neq ''">
<tr id="<!--{$links['id']}-->">
<td align="center">
<span class="checkall">
<input type="checkbox" id="IDList" name="IDList" style="border:n0" value="<!--{$links.id}-->" /> 
</span>
<!--{$news.id}-->

</td>
<td style="text-indent:1%;">
<a href="?dir=<!--{$dir}-->/<!--{$wjj}-->"><!--{$wjj}--> </a>
</td>

<td align="center" fd="links">文件夹</td>
<td align="right" style="padding-right:20px;">
<a style="display:none;" href="<!--{:url('Temp/ziprar')}-->?files=<!--{$dir}-->/<!--{$wjj}-->">打包</a> 

</td>
</tr>
</if>
</foreach>
    
    
    
    
    
    

<foreach name="filelist" item="file">
<php>
$fileinfo=pathinfo($file);
$filepath=$tempshow.'/'.$file;
$filepath=urlencode($filepath);
</php>
<if condition="$file neq ''">
<tr>
<td style="text-indent:1%;">
  <!--{$file}--> 
</td>

<td align="center" fd="links">文件</td>
<td align="right" style="padding-right:20px;">

<if condition="$fileinfo['extension'] eq 'html' || $fileinfo['extension'] eq 'txt' || $fileinfo['extension'] eq 'log' || $fileinfo['extension'] eq 'css'">
<a href="<!--{:url('Temp/updata')}-->?files=<!--{$tempshow}-->/<!--{:urlencode($file)}-->">修改</a> 
</if>

  
<a style="display:none;" href="<!--{:url('Temp/ziprar')}-->?files=<!--{$tempshow}-->/<!--{:urlencode($file)}-->">打包</a> 
<a href="<!--{:url('Temp/download')}-->?files=<!--{$tempshow}-->/<!--{:urlencode($file)}-->">下载</a> 
  <a  href="javascript:;"><del>删除</del></a>
  
</td>
</tr>
</if>
</foreach>
    
    
    
    
    
    
    
    
    
    
    
    
  </table>
 
 </div>
</div>
</form>
</body>
</html>