
<div class="footer">
    <div class="container clearfix">
        <div class="fl">
            技术支持： <a href="#" target="_blank">人人帮集团</a> | 版权所有 | 官方客服:400-1133-100  或  1355-1066-688
        </div>
        <div class="qr-wrap clearfix">
            <span>人人帮微信公众号</span>
            <div><img class="img-res" src="/s/images/qr.png" alt=""></div>
        </div>
    </div>
</div>





<script src="/s/js/jquery.SuperSlide.2.1.1.js"></script>
<script src="/s/js/aos.js"></script>
<script src="/s/js/common.js"></script>
</body>
</html>