<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="applicable-device" content="pc,mobile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="s/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="s/css/aos.css" type="text/css">
    <link rel="stylesheet" href="s/css/style.css" type="text/css">
    <script src="s/js/jquery-1.12.2.min.js"></script>
</head>
<body>
<div class="header">
    <div class="container clearfix">

        <a href="#" class="logo2"><img src="s/images/logo2.png" alt=""></a>
        <div class="header-r">
            2019年6月22日，你好，dodoer，欢迎登录，人人帮线索系统 <a href="#">[个人中心]</a> <a href="#">[安全退出]</a>
        </div>
    </div>
</div>

<div class="container nr-wrap clearfix">
    <div class="l-bd">
        <div class="logo"></div>
        <ul class="main-nav">
            <li><a href="#"><div></div><span>主页</span></a></li>
            <li><a href="#"><div></div><span>收藏</span></a></li>
            <li><a href="#"><div></div><span>我的线索</span></a></li>
            <li class="on"><a href="#"><div></div><span>基本资料</span></a></li>
            <li><a href="#"><div></div><span>安全退出</span></a></li>
        </ul>
    </div>
    <div class="nr-r">
        <div class="crumbs clearfix">
            <div class="crumbs-l">基本资料</div>
            <div class="crumbs-r">
                <a href="#">主页</a> > <a href="#">基本资料</a>
            </div>
        </div>
        <div class="base-data white-bg bdr shadow">
            <div class="in-tit">基本信息</div>
            <form action="" class="base-data-form">
                <input type="text" placeholder="公司名称">
                <input type="text" placeholder="您的姓名">
                <input type="text" placeholder="联系电话">
                <input type="text" placeholder="微信电话">
                <input type="submit" value="保 存">
            </form>
            <div class="in-tit">账户</div>
            <div class="acc-blc">余额 <span>3600.00</span> 元 <a href="#">充值</a></div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container clearfix">
        <div class="fl">
            技术支持： <a href="#" target="_blank">人人帮集团</a> | 版权所有 | 官方客服:400-1133-100  或  1355-1066-688
        </div>
        <div class="qr-wrap clearfix">
            <span>人人帮微信公众号</span>
            <div><img class="img-res" src="s/images/qr.png" alt=""></div>
        </div>
    </div>
</div>





<script src="s/js/jquery.SuperSlide.2.1.1.js"></script>
<script src="s/js/aos.js"></script>
<script src="s/js/common.js"></script>
</body>
</html>