<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>修改内容</title>
<script type="text/javascript" charset="utf-8" src="/public/skin/scripts/jquery/jquery-1.11.2.min.js"></script>
<link href="/public/skin/default/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/public/pub/validform/css/validform.css">
<include file='index/js' />


</head>

<body class="mainbody">



<div class="location">
  <a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a>
  <a href="<!--{:url('Index/main')}-->" class="home"><i></i><span>首页</span></a>
  
  <i class="arrow"></i>
  <span><a href="<!--{:url('lm/index')}-->">内容管理</a></span>
<php>
$patharr=getidlist1($TypeID);
foreach($patharr as $k=>$v)
{
if($v>0)
{
$vstr=typearr($v);
echo '<i class="arrow"></i><span><a href="run.php?m=App&TypeID='.$vstr[id].'">'.$vstr['TypeName'].'</a></span>';
}
}
</php>  
<i class="arrow"></i><span><a href="run.php?m=App&TypeID='.$vstr[id].'"><!--{$type}-->内容</a></span>
</div>
<div class="line10"></div>
<!--/导航栏-->



<link rel="stylesheet" href="/public/bjq/themes/default/default.css" />
<script type="text/javascript" src="/public/bjq/kindeditor-min.js"></script><!--编辑器-->
<script type="text/javascript" src="/public/bjq/lang/zh_CN.js"></script><!--公用-->
<script>
KindEditor.ready(function(K) {
var editor = K.editor({
    allowFileManager : true
});
K('#S_Image_').click(function() {
    editor.loadPlugin('image', function() {
        editor.plugin.imageDialog({
            imageUrl : K('#S_Image').val(),
            clickFn : function(url, title, width, height, border, align) {
                K('#S_Image').val(url);
                editor.hideDialog();
            }
        });
    });
});
K('#B_Image_').click(function() {
    editor.loadPlugin('image', function() {
        editor.plugin.imageDialog({
            imageUrl : K('#B_Image').val(),
            clickFn : function(url, title, width, height, border, align) {
                K('#B_Image').val(url);
                editor.hideDialog();
            }
        });
    });
});

});
</script>







<!--内容-->
<div id="floatHead" class="content-tab-wrap">
  <div class="content-tab">
    <div class="content-tab-ul-wrap">
      <ul>
        <li><a class="selected" href="javascript:;">基本信息</a></li>
      
      </ul>
    </div>
  </div>
</div>

<div class="tab-content">
<form name="form1" id="from1" method="post" action=""  class="form-horizontal">













<dl>
<dt>所属父级</dt>
<dd>
<div style="display:none;">
<select  class="input normal" style="width:30%;"  onChange="location='run.php?m=App&a=addlm&TypeID='+this.value">
<option value="0"> 顶级栏目</option>
<!--{:categoryTree(0,$TypeID)}-->
</select>
</div>


<select class="input normal" style="width:30%;" name="parentID" id="parentID" >
<option value="0"> 顶级栏目</option>
<!--{:categoryTree(0,$TypeID)}-->
</select>
<input type="hidden" id="oldPathTree" name="oldPathTree" value="<!--{$arr.PathTree}-->">
<input type="hidden" id="parentPathTree" name="parentPathTree" value="<!--{$parentPathTree}-->" />
</label>
<span style="color:#999"> (选择要正在添加栏目的上级栏目)</span>

</dd>
</dl>







<dl>
<dt>栏目名称</dt>
<dd>
<input type="text" name="TypeName" id="TypeName"  class="input normal" value="<!--{$arr.TypeName}-->"  datatype="*1-20" msg="请输入正确的栏目名称" placeholder="请输入栏目名称" >
 <input type="hidden" id="oldPathTree" name="oldPathTree" value="<!--{$arr.PathTree}-->">

</dd>
</dl>






<dl>
<dt>英文名称</dt>
<dd>
<input type="text" id="sTypeName" name="sTypeName" value="<!--{$arr.sTypeName}-->" class="input normal" style="width:30%;">
<input type="hidden" name="Video" id="Video" class="input normal" style="width:auto;" value="<!--{$arr.Video}-->">
</dd>
</dl>
<script>
function chagetype()
{
  var newsid=$("#newsid").val();
  if(newsid==1)
  {
	 $("#temp").val("page"); 
	 $("#contemp").val("page"); 
  }
  if(newsid==2)
  {
	 $("#temp").val("list"); 
	 $("#contemp").val("view"); 
  }
  if(newsid==3)
  {
	 $("#temp").val("pic"); 
	 $("#contemp").val("picview"); 
  }
  if(newsid==4)
  {
	 $("#temp").val("ad"); 
	 $("#contemp").val("adview"); 
  }
}

function showatt()
{
  var tempstr='<strong></strong>';

  show_('<iframe src="run.php?m=Index&a=lxsm" width="100%" frameborder="0" height="300px"></iframe>');
}
</script>


<dl>
<dt>栏目类型</dt>
<dd>


<select class="input normal" style="width:17.6%;" name="newsid" id="newsid" onChange="return chagetype();" >
<option <if condition="$arr.newsid eq 1 ">selected="selected" </if> value="1">单页模型 | Single</option>
<option <if condition="$arr.newsid eq 2 ">selected="selected" </if> value="2">文章模型 | Article</option>
<option <if condition="$arr.newsid eq 3 ">selected="selected" </if> value="3">图片模型 | Picture</option>
<option <if condition="$arr.newsid eq 4 ">selected="selected" </if> value="4">链接模型 | Links</option>
</select>
列表模板：<input type="text" name="temp" id="temp"  class="input normal" style="width:8%;" value="<if condition="$arr.temp eq ''">page<else/><!--{$arr.temp}--></if>">
内容模板：<input type="text" name="contemp"  class="input normal" style="width:8%;" id="contemp" value="<if condition="$arr.contemp eq ''">page<else/><!--{$arr.contemp}--></if>">
</dd>
</dl>


<dl>
<dt>栏目属性</dt>
<dd>
[<input name="jcmb" type="checkbox" value="1">
同时更改下级栏目的栏目类型、模板风格]
&nbsp;&nbsp;&nbsp;&nbsp;
[<input name="nohtml" type="checkbox" <if condition="$arr['nohtml'] eq '1'">checked="checked"</if> value="1">
不生成静态]
&nbsp;&nbsp;&nbsp;&nbsp;
[<input <if condition="$arr.is_meau eq '1' || $type eq '添加'">checked="checked"</if> name="is_meau" type="checkbox" value="1"  />
显示]

</dd>
</dl>



<dl>
<dt>也大小</dt>
<dd>
<input type="text" name="PageSize"  class="input normal" style="width:10%;"  onKeyUp="value=value.replace(/[^\d]/g,'')"  id="PageSize"  value="<if condition="$arr.PageSize eq ''">默认<else/><!--{$arr.PageSize}--></if>"> 

排序：<input type="text" name="SortNumber"  id="SortNumber"  class="input normal b60" style="width:8%;"  onKeyUp="value=value.replace(/[^\d]/g,'')"  value="<!--{$arr.SortNumber|default=$scid+1}-->">
<span style="color:#999">排序(由低→高)  </span>

</dd>
</dl>






<link rel="stylesheet" href="/public/bjq/themes/default/default.css" />
<script type="text/javascript" src="/public/bjq/kindeditor-min.js"></script><!--编辑器-->
<script type="text/javascript" src="/public/bjq/lang/zh_CN.js"></script><!--公用-->
<script type="text/javascript" src="./Tpl/Public/js/common.js"></script>  		
		<script>
			KindEditor.ready(function(K) {
				var editor = K.editor({
					allowFileManager : true
				});
				K('#img1_').click(function() {
					editor.loadPlugin('image', function() {
						editor.plugin.imageDialog({
							imageUrl : K('#img1').val(),
							clickFn : function(url, title, width, height, border, align) {
								K('#img1').val(url);
								editor.hideDialog();
							}
						});
					});
				});
				
			});
		</script>


<dl>
<dt>栏目图片</dt>
<dd>
<div id="img1_a">
<input type="text" name="img1" class="input normal" style="width:30%;" id="img1" value="<!--{$arr.img1}-->">
<input class="btn btn-primary" type="button" id="img1_" value="上传图片" />
<font  style="color:#27a9e3; display:none;" class="picshow" rel="<!--{$arr.img1}-->">[预览]</font>
</div>
<script>
  setInterval('imgchange("img1")',1000);
</script>
</dd>
</dl>



<dl>
<dt>网站URL</dt>
<dd>
<input type="text" name="weburl" class="input normal" id="weburl" style="width:30%;" value="<!--{$arr['weburl']|default=$addweburl}-->">
</dd>
</dl>



<dl>
<dt>内容</dt>
<dd>
<input type="text" name="con3" class="input normal" id="con3" style="width:30%;" value="<!--{$arr['con3']}-->">
</dd>
</dl>





<dl>
<dt>网站标题</dt>
<dd>
<input type="text" name="seo_title" class="input normal" style="width:60%;" id="seo_title" value="<!--{$arr.seo_title}-->">
</dd>
</dl>

<dl>
<dt>关键词</dt>
<dd>
<input type="text" name="seo_keywords" class="input normal" style="width:60%;" id="seo_keywords" value="<!--{$arr.seo_keywords}-->">
</dd>
</dl>

<dl>
<dt>描述</dt>
<dd>
<textarea name="seo_miaoshu" cols="80" class="input normal b60" rows="4" style="width:60%" id="seo_miaoshu"><!--{$arr.seo_miaoshu}--></textarea>
</dd>
</dl>

  

</div>






<!--/内容-->

<!--工具栏-->
<div class="page-footer">
  <div class="btn-wrap">

    <input type="submit" name="btnSubmit" value="提交保存" id="btnSubmit" class="btn" />
    <input name="btnReturn" type="button" value="返回上一页" class="btn yellow" onClick="javascript:history.back(-1);" />
  </div>
</div>
<!--/工具栏-->

  </form>
  
<include file='index/foot' />

</body>
</html>